body{background-color: #000000;}
.text{;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 5vw;);
    
}
.text{background: linear-gradient(to right ,violet,indigo,blue,green,yellow,orange,red);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-backdrop-filter: blur();}

